package ${package}.modules.${moduleName}.dao;

import ${package}.common.dao.BaseDao;
import ${package}.modules.${moduleName}.entity.${className}Entity;
import org.apache.ibatis.annotations.Mapper;

/**
 * <p>Title: ${comments}</p >
 * <p>Description: -持久层接口</p >
 * <p>Copyright: ${author}. Copyright(c) 2020</p >
 * <link>http://www.buqu.icu</link>
 * <p>版权所有，侵权必究！</p >
 *
 * @author ${author}
 * @version ${version}
 * <pre>History:
 *       ${date}    ${author}    Created
 * </pre>
 * @mail ${email}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Entity> {

}
