package ${package}.modules.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import ${package}.common.entity.BaseEntity;
import lombok.Data;
import lombok.EqualsAndHashCode;

    #if(${hasBigDecimal})
    import java.math.BigDecimal;
    #end
import java.util.Date;

/**
 * <p>Title: ${comments}</p >
 * <p>Description: -数据实体</p >
 * <p>Copyright: ${author}. Copyright(c) 2020</p >
 * <link>http://www.buqu.icu</link>
 * <p>版权所有，侵权必究！</p >
 *
 * @author ${author}
 * @version ${version}
 * <pre>History:
 *       ${date}    ${author}    Created
 * </pre>
 * @mail ${email}
 */
@Data
@EqualsAndHashCode(callSuper=false)
@TableName("${tableName}")
public class ${className}Entity extends BaseEntity {
    private static final long serialVersionUID = 1L;

    #foreach ($column in $columns)
        #if($column.columnName != 'id' && $column.columnName != 'creator' && $column.columnName != 'create_time')
            /**
             * $column.comments
             */
            private $column.attrType $column.attrname;
        #end
    #end
}
