package ${package}.${moduleName}.req;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import java.io.Serializable;
import java.util.Date;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * <p>Title: ${comments}</p >
 * <p>Description: -入参</p >
 * <p>Copyright: ${author}. Copyright(c) 2020</p >
 * <link>http://www.buqu.icu</link>
 * <p>版权所有，侵权必究！</p >
 *
 * @author ${author}
 * @version ${version}
 * <pre>History:
 *       ${date}    ${author}    Created
 * </pre>
 * @mail ${email}
 */
@Data
public class ${className}Req implements Serializable {

    #foreach($cloumn in $cloumns)
        @ApiModelProperty(value = "$cloumn.comments")
        private $cloumn.attrType $cloumn.attrname;
    #end
}
